def address(request):
    print(request.session["info"])
    if request.method == 'GET':
        form=AddressForm()
        return render(request,"address.html",{'form':form})
    form=AddressForm(data=request.POST)
    if form.is_valid():
        aname=form.cleaned_data.get("aname")
        aphone=form.cleaned_data.get("aphone")
        addr=form.cleaned_data.get("addr")
        user=models.UserInfo.objects.get(uname=aname)
        models.Address.objects.create(aname=aname,aphone=aphone,addr=addr,user=user,isdefault=True)
        return HttpResponse("200")
    return render(request, "address.html", {'form': form})